<header>
  <!-- Fixed navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/"><i>HR Application</i></a>
    <button class="navbar-toggler" type="button"
    (click)="toggleNavbar()">
<span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse"  [ngClass]="{ 'show': navbarOpen }">

      <ul class="navbar-nav mr-auto">
        <li *ngFor="let items of menuItems" class="nav-item">
          <a routerLinkActive="active current" class="nav-link" routerLink="{{items.linkUrl}}">{{items.linkName}}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
